@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
  background: $blue;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: $blue;
  font-family: 'Roboto';
  color: white;
  font-weight: 520;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.button-add {
  padding: 12px;
  font-size: 18px;
  color: #000;
  border: none;
  border-radius: 4px;
  background: #fff;
  min-width: 216px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 48px 0 26px;
}

.button-remove {
  background: none;
  border: none;
  min-width: 216px;
  color: #f5e5e7;
  font-size: 14px;
}

.counter {
  width: 280px;
  height: 280px;
  background: url('../assets/img/hydrapp.svg') center center;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 112px;

  &__value {
    padding-top: 64px;
    display: block;
  }
}

.heading {
  font-size: 55px;
  margin: 0 0 64px 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;

}